h1 {
  position: absolute;
  margin-left: 1%;
  font-family: sans-serif;
  color: white;
  font-size: 3em;
}

.navbar {
  display: flex;
  align-items: center;
  position: static;
  height: 10vh;
  width: 100vw;
  background-color: darkblue;
  border-bottom: 5px solid black;
}

#issuesContainer {
  margin-top: 2vh;
  margin-left: 2vh;
  height: 75vh;
  width: 75vw;
  border: 5px solid black;
  box-shadow: 2px 2px 2px black;
  overflow: scroll;

}

.issueDiv {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  padding: 1%;
  width:100%;
  height:auto;
  border: 2px solid black;
}
